{% load static %}
{% load notifications_tags %}
{% notifications_unread as unread_count %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--Own css-->
    <link rel="stylesheet" type="text/css" href="{% static 'issue/main.css' %}">
    <title>Issues</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'dashboard' %}">PRO-TRACKER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                {%endif%}               
                <a class="nav-item nav-link" href="{% url 'issue-home' %}">Issues</a>
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'issue-create' %}">Create</a>
                {%endif%}
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if user.is_authenticated %}

                <!--Collapsable menu-->

                <li class="nav-item dropdown">
                  <a class="nav-item nav-link" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Profile</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item" href="{% url 'user-issues' user.username %}">View</a>
                    <a class="dropdown-item" href="{% url 'update_profile' %}">Edit</a>
                  </div>
                </li>
                <!--end collapsable menu-->
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                  <a class="nav-item nav-link" href="{% url 'notice:list' %}">
                    {% if unread_count %}
                      <svg viewBox="0 0 8 8"
                          width="8px"
                          height="8px">
                          <circle cx="4"
                                  cy="4"
                                  r="4"
                                  fill="#ff6b6b"
                                  ></circle>
                      </svg>
                    {% endif %}
                    Notifs
                  </a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-9">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{message}}
                </div>
              {%endfor%}
            {%endif%}
          </div>
          {% block content %}
          <h4>Nothing to show here!</h4>
          {% endblock %}
      </main>
<div style="width: 100%; height: 70px; bottom: 0px; position:fixed; background-color: rgb(238, 89, 89);">
  <br>
  <div class="d-flex justify-content-center" style="color: white">© 2020 Copyright :
    <a href="#" style="color: white;"> Shirin Kaul</a>
  </div>
</div>
      <!-- Footer -->
      

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script> 
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script> 
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}" /> 
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script> 
    
</body>
</html>