{% extends "issue/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_created|date:"j M, Y"}}</small>
        </div>
        <h2><a class="article-title">{{ object.title }}</a></h2>
        <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
{% endblock content %}
